extends layout

block content
	h1= title
	//- p Welcome to #{title}
	p
		#user
<<<<<<< HEAD
			if user
				.user-card
					.user-data
						if user.password != null
							- var user_pic = user.picture
							if user_pic
								- var length = user_pic.length
								- var str = user_pic.slice(8, user_pic.length)
								img(src="#{str}" width="50" height="50")
						else
							img(src="#{user.picture}")
						span -You have logged in
						br
						if user.password == null
							span FbID: #{user.fbid}
=======
			if user && user.new_user==false
				div(class="user-card")
					div(class="user-data")
						<img src="#{user.picture}"> 
						span -You have logged in
						br
						span FbID: #{user.fbid}
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
						br
						span Name: #{user.firstname} #{user.lastname}
						br
						span Username/Email: #{user.username}
						br
						span profile: ---
<<<<<<< HEAD
=======
						//-<a href="#{user.profileUrl}">#{user.profileUrl}</a>
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
						br
						div(class="clear")
						br
						a(href="/blogpost") blogposts
						br
						a(href="/change") change account dates
				a(href="auth/sign-out", class="sign-out") log out ←
<<<<<<< HEAD
=======
			else if user && user.new_user==true
				p.
					You have successfully registered 
					<br>
					See your account: <a href='/auth/fb'>Here</a>
					<br>
					Or go to the homepage: <a href='auth/sign-out'>Homepage</a>
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
			else
				a(href="/register") register Page
				br
				a(href="/login") login Page
				br
				a(href="/auth/fb") Authenticate with facebook →
