extends layout

block content
	h1= title
	p
		#user
			if user
				.user-card
					.user-data
						img(src="#{user.picture}" width="50" height="50")
						if !guest
							span -You have logged in
						br
						if user.password == null
							span FbID: #{user.fbid}
						br
						span Name: #{user.firstname} #{user.lastname}
						br
						if !guest
							span Username/Email: #{user.username}
							br
						span profile: ---
						br
						if !guest
							div(class="clear")
							br
							a(href="/blogpost") blogposts
							br
							a(href="/change") change account dates
				if !guest
					a(href="auth/sign-out", class="sign-out") log out ←
			else
				a(href="/register") register Page
				br
				a(href="/login") login Page
				br
				a(href="/auth/fb") Authenticate with facebook →
